<div class="bg-dark text-light text-left">
    <div class="container row">
        <div class="col-md-4">
            <small class="text-muted">Copyright &copy; Vysum Team 2020</small>
        </div>
        <div class="col-md-4">
            <h4 class="text-brand font-brand">Latest Posts</h4>
            {% if site.posts %}
            {% else %}
            <p>There are no posts yet...</p>
            {% endif %}
            </ul>
        </div>
        <div class="col-md-4">
            <p class="text-brand font-brand">Navigation</p>
            <a href="/about">
                <i class="fad fa-hexagon"></i>
                <span> About Us</span>
            </a>
            <br>
            <a href="/projects">
                <i class="fad fa-code"></i>
                <span> Projects</span>
            </a>
            <br>
            <a href="https://vysum.itch.io/">
                <i class="fab fa-itch-io"></i>
                <span> Vysum on Itch.IO</span>
            </a>
            <br>
            <a href="https://discord.gg/unaXJf7">
                <i class="fab fa-discord"></i>
                <span> Join our Discord</span>
            </a>
        </div>
    </div>
</div>