<div class="bg-dark text-light text-left">
    <div class="container row">
        <div class="col-md-3">
            <small class="text-muted">Copyright &copy; Vysum Team 2020</small>
            <br><br>
            <small class="text-muted">
                All elements on this website are property of Vysum Team unless
                explicitly stated.
            </small>
        </div>
        <div class="col-md-3">
            <h4 class="text-brand font-brand">Latest Posts</h4>
            {% if site.posts %}
            {% else %}
            <p>There are no posts yet...</p>
            {% endif %}
            </ul>
        </div>
        <div class="col-md-3">
            <h4 class="text-brand font-brand">Navigation</h4>
            <a href="/about">
                <i class="fad fa-hexagon"></i>
                <span> About Us</span>
            </a>
            <br>
            <a href="/projects">
                <i class="fad fa-code"></i>
                <span> Projects</span>
            </a>
            <br>
            <a href="https://vysum.cf/donate">
                <i class="fad fa-donate"></i>
                <span> Donate</span>
            </a>
        </div>
        <div class="col-md-3">
            <h4 class="text-brand font-brand">Vysum Online</h4>
            <a href="{{ site.ItchIO }}">
                <i class="fab fa-itch-io"></i>
                <span> Vysum on Itch.IO</span>
            </a>
            <br>
            <a href="{{ site.Discord }}">
                <i class="fab fa-discord"></i>
                <span> Join our Discord</span>
            </a>
            <br>
            <a href="{{ site.Twitter }}">
                <i class="fab fa-twitter"></i>
                <span> Follow us on Twitter</span>
            </a>
        </div>
    </div>
</div>