<head>
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vysum Team">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="theme-color" content="#{{ site.color }}">
    <!-- OpenGraph Tags -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}">
    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
    {% else %}
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    <!-- Asset Tags -->
    <link rel="shortcut icon" href="{{ site.favicon }}">
    <link rel="stylesheet" href="{{ site.BootstrapCSS }}">
    <link rel="stylesheet" href="{{ site.BrandFont }}">
    <link rel="stylesheet" href="/assets/css/vysum.core.css">
    <script src="{{ site.jQuery }}"></script>
    <script src="{{ site.BootstrapJS }}"></script>
    <script src="{{ site.FontAwesome }}"></script>
    <script src="{{ site.HowlerJS }}"></script>
    <script src="{{ site.ThreeJS }}"></script>
</head>