<div id="header" class="jumbotron bg-black text-light text-center">
    <center><div id="headerRend"></div></center>
    {% if page.title %}
    <h1 class="font-brand text-primary">{{ page.title }}</h1>
    {% else %}
    <h1 class="font-brand text-primary">{{ site.title }}</h1>
    {% endif %}
</div>
<script type="text/javascript">
var region = document.getElementById('headerRend');
var scene, camera, renderer, cube;

function init() {
    scene = new THREE.Scene();
    initCamera();
    initRenderer();
    initCube();

    region.appendChild(renderer.domElement);
}

function initCamera() {
    camera = new THREE.PerspectiveCamera(70, 300 / 300, 1, 10);
    camera.position.set(0, 3.5, 5);
    camera.lookAt(scene.position);
}

function initRenderer() {
    renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
    renderer.setClearColor(0x000000, 0);
    renderer.setSize(300, 300);
}

function initCube() {
    var geometry = new THREE.CubeGeometry(3, 3, 3);
    cube = new THREE.Mesh(geometry, new THREE.MeshNormalMaterial());
    scene.add(cube);
}

var SPEED = 0.01;

function rotateCube() {
    cube.rotation.x -= SPEED * 2;
    cube.rotation.y -= SPEED;
    cube.rotation.z -= SPEED * 3;
}

function render() {
    requestAnimationFrame(render);
    rotateCube();
    renderer.render(scene, camera);
}

init();
render();
</script>