<div id="header" class="jumbotron bg-black text-light text-center">
    <center><div id="headerRend"></div></center>
    {% if page.title %}
    <b class="font-brand text-brand display-4">{{ page.title }}</b>
    {% else %}
    <b class="font-brand text-brand display-4">{{ site.title }}</b>
    {% endif %}
</div>
<script type="text/javascript">
var region = document.getElementById('headerRend');
var scene, camera, renderer, cube;

function init() {
    scene = new THREE.Scene();
    initCamera();
    initRenderer();
    initCube();

    region.appendChild(renderer.domElement);
}

function initCamera() {
    camera = new THREE.PerspectiveCamera(70, 300 / 300, 1, 10);
    camera.position.set(0, 3.5, 5);
    camera.lookAt(scene.position);
}

function initRenderer() {
    renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
    renderer.setClearColor(0x000000, 0);
    renderer.setSize(300, 300);
}

function initCube(callback) {
    var loader = new THREE.CubeTextureLoader().setPath('/assets/img/');
    loader.load([
        'icon.png','icon.png','icon.png',
        'icon.png','icon.png','icon.png'
    ], function(texture) {

        var material = new THREE.MeshBasicMaterial({ map: texture });
        var geometry = new THREE.CubeGeometry(3, 3, 3);

        cube = new THREE.Mesh(geometry, material);
        scene.add(cube);
    })
}

var SPEED = 0.01;

function rotateCube() {
    cube.rotation.x -= SPEED * 2;
    cube.rotation.y -= SPEED;
    cube.rotation.z -= SPEED * 3;
}

function render() {
    requestAnimationFrame(render);
    rotateCube();
    renderer.render(scene, camera);
}

init();
render();
</script>